/* START border-box fix */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* END border-box fix */

  body{
    padding: 0;
    margin: 0;
    background-color: #f3d156;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
  

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      text-transform: uppercase;
      margin: 0;
      text-align: center;
  }

  #wrapper{
    margin: 0px auto;
    /* centers wrapper*/
    background-color: rgb(208, 157, 255);
    color:white; 
    max-width: 1000px;
    /* display: flex;
     flex-wrap: wrap; */
     
  }

  header{
    background-color: #f3d156;
   flex: 1 0 100%; 
    padding: 58px;
    text-align: center;
  }
    .spin {
      border-radius: 0%;
      transition: transform .8s ease-in-out;
              transition: transform .8s ease-in-out;
    }
    .spin:hover {
    transform: rotate(360deg);
       transform: rotate(360deg);
  }

  nav{
    background-color: #091f48;
        flex: 1 0 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    /* grown but do not shrink less than basis*/
  }

nav li{
  display: inline-block;
  margin: 0px 20px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

  nav a{
    text-decoration: solid;
    color: white;
  }

  nav a:hover{
    color: #f54e03;
    width: auto;
  }


  main{
    background-color: #004aad;
        padding:20px;
        display: grid;
        grid-column: 1 / 13;
  
  }
  

  aside{
    background-color:#f54e03;
        padding: 30px;
       
  }
  aside p {
    color:white;
    text-decoration: solid;
    text-align: center;
  }

aside p:hover{
  color: #091f48;
  width: auto;
}
footer{
    background-color: #f3d156;
        flex: 1 0 100%;
        padding: 10px;
        text-align: center;
        font-size: 10px;
    order: 5;
  }
  
  /* grid css*/
  .container {
    display: grid;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-columns: auto auto auto;
    background-color: #004aad;
    padding: 20px;
  }
  
  .container > div {
    background-color: #004aad;
    border: 0px;
    padding: 0px;
    height:260px;
    font-size: 10px;
    text-align: center;
  }

  /* Flex css*/
  .flex-container {
  display: flex;
  background-color: #004aad;
  justify-content: space-around;
}

.flex-container > div {
  background-color: #004aad;
  margin: 20px;
  padding: 20px;
  width: 200px;
  height: 200px;
  font-size: 10px;
}


  